/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Contents
==================================================
01. RETINA STYLES
02. BASE STYLES (1140px)
03. #DESKTOP (960px)
04. #Tablet (Portrait)
05. #Mobile (Portrait)
06. #Mobile (Landscape)
07. TESTING TEXT
*/


/*
=============================================== 01. RETINA STYLES ===============================================
*/
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	nav select {background-image: url(../images/select-arrow@2x.png),  -webkit-linear-gradient(#FAFAFA, #f9f9f9 40%, #e8e8e8) !important;background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-image: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);background-position: center right; background-repeat: no-repeat; background-size:contain;}
	.flex-control-paging li a {background-image:url(../images/slider/bg_bullets@2x.png); background-size:20px 85px;}
	.flex-direction-nav a {background-image: url(../images/slider/arrows@2x.png); background-size:68px 69px;}
	ul.checkmark li {background-image: url(../images/checkmark@2x.png); background-size: 11px 12px; }
	ul.arrow li { background-image:url(../images/sidebar-arrow@2x.png); background-size:15px 35px;}
	.zoom-icon {background:url(../images/zoom-icon@2x.png) 0px 0px no-repeat; background-size:45px 50px;}
	.article-icon {background:url(../images/article-icon@2x.png); }
	.video-icon {background:url(../images/video-icon@2x.png); }
	.twitter-post { background-image:url(../images/twitter-post@2x.png); background-size:1150px 652px;}
	.twitter-time-stamp {background-image:url(../images/twitter-time-stamp@2x.png); background-size:16px 16px;}
	#toTop, #toTopHover {background-image:url(../images/ui.totop@2x.png); background-size:51px 102px;}
	.tag-icon {background-image:url(../images/tag-icon@2x.png); background-size:25px 18px;}
	.post-author a, .post-comments a, .share-post a, .post-date a {background-image:url(../images/blog-post-details@2x.png); background-size:50px 500px;}
	.pagination a {background-image:url(../images/pagination@2x.png); background-size:30px 34px;}
	.searchform {background-image:url(../images/magnify@2x.png); background-size:33px 33px;}
	#page-nav.load-more-manual a {background-image:url(../images/load-more@2x.png); background-size:48px 55px;}
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* IE7-IE8 Fixes*/
.lt-ie9 .flex-control-paging li a {background-image: url(../images/slider/bg_bullets.png); }
.lt-ie9 .flex-direction-nav a {background-image: url(../images/slider/arrows.png);}
.lt-ie9 ul.checkmark li {background-image: url(../images/checkmark.png); }
.lt-ie9 ul.arrow li { background-image:url(../images/sidebar-arrow@2x.png); }
.lt-ie9  .zoom-icon {background:url(../images/zoom-icon.png) 0px 0px no-repeat; }
.lt-ie9  .article-icon {background:url(../images/article-icon.png);}
.lt-ie9  .video-icon {background:url(../images/video-icon.png);}
.lt-ie9  .twitter-post { background-image:url(../images/twitter-post.png);}
.lt-ie9  .twitter-time-stamp {background-image:url(../images/twitter-time-stamp.png); }
.lt-ie9 #toTop, .lt-ie9 #toTopHover {background-image:url(../images/ui.totop.png);}
.lt-ie9 .post-author a, .lt-ie9 .post-comments a, .lt-ie9 .share-post a, .lt-ie9 .post-date a {background-image:url(../images/blog-post-details.png);}
.lt-ie9 .pagination a {background-image:url(../images/pagination.png);}
.lt-ie9 .searchform {background-image:url(../images/magnify.png); }
.lt-ie9 .tag-icon {background-image:url(../images/tag-icon.png); }
.lt-ie9 #page-nav.load-more-manual a {background-image:url(../images/load-more.png); }

}




/*
=============================================== 02. BASE STYLES (1140px) ===============================================
*/
/* Note: Design for a width of 1040px */
body:after {content: "Wider than 1140px";background-color: hsla(270,60%,40%,0.7);}/* Notify what @media browser is using, Disable above by display:none; */
html {-webkit-text-size-adjust: none;}	/* Removes webkit font resizing */ 
body {max-width:100%; width:100%;}
img {max-width:100%; height: auto; }
.width-container, .flex-caption, .grid2column, .grid3column, .grid3columnbig, .grid4column, .grid4columnbig {-moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; }



/*
=============================================== 03. #DESKTOP (960px) ===============================================
*/
/* Note: Design for a width of 960px */
@media only screen and (min-width: 959px) and (max-width: 1140px) {
body:after {content: "959px to 1139px";background-color: hsla(270,60%,40%,0.7);}/* Notify what @media browser is using, Disable above by display:none; */ 


.width-container, .flex-caption {width:100%; overflow-x:hidden;} /* Default Width */
.flex-caption {margin-left:-480px;} 

/* Misc Adjustments */


}



/*
=============================================== 04. #Tablet (Portrait) ===============================================
*/
/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
body:after {content: "768 to 959px";background-color: hsla(270,60%,40%,0.7);}/* Notify what @media browser is using, Disable above by display:none; */ 

/* Default Width */
.width-container, .flex-caption { width: 100%; overflow-x:hidden; }
.flex-caption {margin-left:-384px;}

.commentlist {width:78%;}

/* Misc Fixes */
.sf-menu a {padding-right:13px; padding-left:13px;} 
.social-icons {margin-left:8px;}
.video-slide {margin:0px;}
.caption-heading {font-size:30px;  }
.caption-text {font-size:16px; }
.featured-text {font-size:14px;}


/* Select Menu 
nav ul { display: none; }  
nav select option {font-size:12px; background:#fff; color:#888;}
header nav {padding-top:45px; float:right;}
nav select { text-transform:none; display:block; width:300px; min-width: 150px; max-width: 100%; -webkit-appearance: none; -moz-appearance: normal; appearance: normal;
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
 -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none;-moz-user-select: none;
background-image: url(../images/select-arrow.png),  -webkit-linear-gradient(#FAFAFA, #f9f9f9 40%, #e8e8e8);
background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-image: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-position: center right; background-repeat: no-repeat;
font-size:13px;
border: 1px solid #aaaaaa;
color: #555555;
padding:7px 5px 7px 10px;}*/


}



/*
=============================================== 05. #Mobile (Portrait) ===============================================
*/
/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
body:after {content: "0 to 480px"; background-color: hsla(90,60%,40%,0.7);}/* Notify what @media browser is using, Disable above by display:none; */ 


/* Default Width */
.width-container, .flex-caption { width: 100%; overflow-x:hidden;}
.flex-caption {margin-left:-150px;}
body.admin-bar #sticky-navigation {top:0px;}
#sticky-navigation, header {position:relative; }
body #sticky-navigation-spacer {padding:0px;}
body.admin-bar header {top:0px;}
body {padding-top:0px;}

/* Default Grid */
.blog-post-excerpt, .blog-post-details,
.fluid .boxed-mason.col5, .fluid .boxed-mason.col2, .fluid .boxed-mason.col3, .fluid .boxed-mason.col4,
#footer-widgets .footer-1-column .widget, #footer-widgets .footer-2-column .widget, #footer-widgets .footer-3-column .widget, #footer-widgets .footer-4-column .widget,
.grid2column, #container-sidebar, #sidebar, .grid2column, .grid3column, .grid3columnbig, .grid4column, .grid4columnbig, #container-sidebar .grid2column, #container-sidebar .grid3column, #container-sidebar .grid3columnbig, #container-sidebar .grid4column, #container-sidebar .grid4columnbig 
{width:100%; margin-bottom:15px; display:block; margin-left:0px; margin-right:0px;}

.lt-ie8 .egywebschool-grid4column, .lt-ie8 .egywebschool-grid4-threefourths, .lt-ie8 ul.egywebschool-toggle div.div_egywebschool_toggle, .egywebschool-grid2column, .egywebschool-grid3column, .egywebschool-grid3-twothirds, .egywebschool-grid4column, .egywebschool-grid4-threefourths, .egywebschool-grid5column, .egywebschool-grid5-twofifths, .egywebschool-grid5-threefifths, .egywebschool-grid5-fourfifth, .egywebschool-grid6column, .egywebschool-grid6-fivesixths 
{width:100%; margin-bottom:15px; display:block; margin-left:0px; margin-right:0px; }

.blog-post-details div {display:inline-block !important; margin:0px 8px;}
.blog-post-details a {font-size:14px;}
.blog-post-details .post-date a {font-size:12px;}


/* Misc Fixes */
body {font-size:13px;}
body #logo, .social-icons { padding:0px; display:block; float:none; margin:0 auto; text-align:center;}
.video-slide {margin:0px;}
.caption-heading, .caption-text {display:none; }
#highlight-container img {display:none;}
#highlight-container h3 {font-size:18px;}
.featured-text {font-size:13px;}
footer #copyright, footer .social-icons { text-align:center; margin:0 auto; float:none; padding:20px 0px 5px 0px; }
.commentlist {width:95%; left:-10px;}
.commentlist .children li.comment .comment-meta {margin-left:0px;}
.commentlist .avatar, .commentlist > li:before {display:none;}
ul.filter-children {float:none; margin:0 auto;}
.twt-follow-button {display:none !important;}

/* Select Menu */
nav ul { display: none; }  
nav select option {font-size:12px; background:#fff; color:#888;}
header nav {float:none; text-align:center; z-index:0; }
nav select { text-transform:none; display:block; margin:15px auto 20px auto; width:300px; min-width: 150px; max-width: 100%; -webkit-appearance: none; -moz-appearance: normal; appearance: normal;
-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
 -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
-webkit-padding-end: 20px; -webkit-padding-start: 2px; -webkit-user-select: none;-moz-user-select: none;
background-image: url(../images/select-arrow.png),  -webkit-linear-gradient(#FAFAFA, #f9f9f9 40%, #e8e8e8);
background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-image: -moz-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
background-position: center right; background-repeat: no-repeat;
font-size:13px;
border: 1px solid #aaaaaa;
color: #555555;
padding:7px 5px 7px 10px;}


}


/*
=============================================== 06. #Mobile (Landscape) ===============================================
*/
/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
body:after { content: "480 to 767px"; background-color: hsla(150,50%,40%,0.7);}/* Notify what @media browser is using, Disable above by display:none; */

/* Default Width */
.width-container, .flex-caption { width: 100%; overflow-x:hidden; }
.flex-caption {margin-left:-210px; }

/* Misc Fixes */
.caption-heading {font-size:20px; padding:6px 12px; display:inline-block;}
.caption-text {font-size:14px; padding:4px 12px; display:inline-block;}

}


/*
=============================================== 07. TESTING TEXT ===============================================
*/
body:after {position:relative; z-index:55; content: "less than 320px";font-size: 300%;font-weight: bold;position: fixed;bottom: 60px;width: 100%;text-align: center;background-color: hsla(1,60%,40%,0.7);color: #fff;
display:none !important; /* -------------------- ADD OR REMOVE display:none !important; to display testing text -------------------- */}

